body{
    background-color: #1f1f1f;
}

.shadows{
    box-shadow: 1px 0px 20px 1px black
}

img {
    height: 60px;
}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #1f1f1f;
    --bs-table-border-color:  #1f1f1f;
    --bs-table-striped-bg: #343535;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #252b32;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}